<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <targets>
      <target name="logconsole" xsi:type="Console" >
        <layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="20" excludeProperties="">
          <attribute name='time' layout='${longdate}' />
          <attribute name='level' layout='${level:upperCase=true}'/>
          <attribute name='message' layout='${message}' />
          <attribute name='exception' layout='${exception}' />
          <attribute name='callsite' layout='${callsite}, ${callsite-linenumber}' />
        </layout>
      </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
    </rules>


</nlog>