registry=https://msazure.pkgs.visualstudio.com/_packaging/AzureIOTSaas/npm/registry/
always-auth=true
//msazure.pkgs.visualstudio.com/_packaging/AzureIOTSaas/npm/registry/:username=VssSessionToken
//msazure.pkgs.visualstudio.com/_packaging/AzureIOTSaas/npm/registry/:_password="Nmg2djVzYnRycnAzN2Y0ZmxjZWtsdWNpdHl0d2x4ZnR2MnM1Mmh6cWFhcmFtbWNscW82cQ=="
//msazure.pkgs.visualstudio.com/_packaging/AzureIOTSaas/npm/registry/:email=not-used@example.com
python=C:\Users\steve\.windows-build-tools\python27\python.exe
